body{
    margin: 0;
    padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
a{
    color: rgb(31, 29, 48);
}
.height-100{
    height: 100px !important;
  }
  
  .height-300 {
    height: 300px !important;
  }
  
  .height-500 {
      height: 500px !important;
  }
  
  .height-600 {
      height: 600px !important;
  }
  
  .height-700 {
      height: 700px !important;
  }
  
  .height-800 {
      height: 800px !important;
  }

.section_padding_100 {
    padding: 50px 0;
  }

.section_padding_100_0 {
    padding: 100px 0 0;
  }
  
.section_padding_0_100 {
    padding: 0 0 100px;
}
  

hr{
    border-top: 1px solid #cccc;
    border-bottom: 1px solid #cccc;
}  

/* main area*/
.hero .container{
    margin-top: 40px;
    border: none;
    justify-content: center;
    align-self: center;
    width: 100%;
}
.hero .columns{
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 30px;
}

.hero .column{
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #474747;
}

.hero .title{
    font-size:40px;
    text-transform: capitalize;
}

.hero .subtitle{
    padding-top: 20px;
    font-size: 19px;
    color: #296b97e7;
}

.hero .thumbnail{
    align-self: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 7px;
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
}


.sections .container {
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: rgba(79, 52, 122, 0.904);  border-radius: 10px;
    color: rgb(255, 249, 249);
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: 30px;
    line-height: 2;
}
 .sections .columned .my-bio{
 font-size: 25px;
    
 }

.sections .columned .epic{
    font-size: 16px;
    margin-top: 30px;

}
.sections .columned .epic strong{
    text-transform: uppercase;
  
}

/* main area*/

/*subsect arae*/

section .contain {
    margin: 20px;
    
}

.contain .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.contain .row{
    justify-content: center;
    align-items: center;
}

.contain .column{
    margin: 10px;
    width: 400px;
    border: 1px solid rgb(158, 158, 158);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
}

.contain .column .image{
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.contain .column .thumbnail{
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 5px;
    max-width: 500px;
    width: 200px;
    max-height: 200px;
    height: 150px;
    border: none;
    background-color: rgba(0, 0, 0, 0.9);
}
.contain .column .title{
    font-size: 25px;
    margin: 10px;
    font-weight: 700;
    color: rgb(150, 31, 150);
}
.contain .column .titles{
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
    color: #965353;
    justify-content: center;
    text-align: center;
    align-self: center;
    padding-top: 10px;
    text-transform: capitalize;
    
}

/*subsect arae*/

/*previous project arae*/
.past-works .container{
font-size: 25px;
justify-content: center;
align-self: center;
text-align: center;
padding-top: 5px;
margin-bottom: 50px;
background-color: rgba(125, 133, 248, 0.8);
width: 100%;
}
 
.past-works .container > h1{
    text-transform: uppercase;
    font-size: 28px;
    padding: 25px;
}
.past-works .title{
     text-align: center;
     justify-content: center;
     align-self: center;
     font-size: 15px;
     padding-bottom: 10px;
}
.past-works .title a{
    color: #3d09f8;
    font-size: 17px;
}
.past-works .project-grid .column{
     display: flex;
     justify-content: center;
     align-self: center;
     padding: 25px;
}
.thumbnail{
    width: 100%;
    height: 100%;
  }
/*previous project arae*/

/*motivation area*/
.startup .container{
    width: 100%;
    padding: 50px;
}
.startup .container .title{
     justify-content: center;
     align-self: center;
     text-align: center;
     font-weight: 600;
     font-size: 25px;
     padding: 5px;
     color: rgb(106, 66, 250);
     text-transform: capitalize;
}

.startup .container .subtitle{
    padding: 10px;
    justify-content: center;
    align-self: center;
    text-align: center;
    font-size: 18px;
    padding: 17px;
}

/*motivation area*/



/*collobration area*/


.future .column{
 justify-content: center;
 align-self: center;
 text-align: center; 
 margin: 20px;  
}

.future .column .title{
    padding: 20px;
     font-size: 25px;
}

.future .column .subtitle{
     font-size: 17px;
     padding: 5px;
}
/*collobration area*/

/*future collobration starts here*/

.section .container{
    margin-bottom: 10px;
    color: white;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: rgba(141, 91, 175, 0.911);
    border-radius: 50px;
}
.section .container .box{
     justify-content: center;
     align-items: center;
     text-align: center;
}
.section .container .column{
padding: 5px;

}

 .section .container .column .title{
     font-size: 25px;
     font-weight: 600; 
     padding: 5px; 
 }
 .section .container .column p{
     font-size: 18px;
 }
 .section .container .column a{
     color: rgb(31, 29, 48);
   
     
 }

/*future collobration ends here*/

 /*footer area stats here*/
footer .container{
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 40px;
    }

footer .container .columns{
    justify-content: center;
    align-self: center;
    }
footer .container .title{
    color: rgb(151, 55, 206);
    font-size: 18px;
    font-weight: 600;
}

footer .social-icons{
  display: flex; 
  justify-content: center;
    align-self: center;
    text-align: center;
    margin: 10px;
}
footer .social-icons .button{
color: rgb(80, 36, 94);       
}
/*footer area end here*/

/* Contact info*/
.container{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 180px;
}
.container .card{
    position: relative;
    max-width: 400px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 420px;
}

.container .card .imgbx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgbx img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -120px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: 5px;
    transition-delay: 0.3s;
}
/* Contact info*/